apiVersion: apps/v1                                                               
kind: Deployment                                                                  
metadata:                                                                         
  creationTimestamp: null                                                         
  labels:                                                                         
    app: db-deployment                                                            
  name: db-deployment                                                             
  namespace: vote                                                                 
spec:                                                                             
  replicas: 1                                                                     
  selector:                                                                       
    matchLabels:                                                                  
      app: db-deployment                                                          
  strategy: {}                                                                    
  template:                                                                       
    metadata:                                                                     
      creationTimestamp: null                                                     
      labels:                                                                     
        app: db-deployment                                                        
    spec:                                                                         
      containers:                                                                 
      - image: postgres:9.4                                                       
        name: postgres                                                            
        env:                                                                      
        - name: POSTGRES_USER                                                     
          value: postgres                                                         
        - name: POSTGRES_PASSWORD                                                 
          value: postgres                                                         
        - name: POSTGRES_HOST_AUTH_METHOD                                         
          value: trust                                                            
        volumeMounts:                                                             
        - name: db-data                                                           
          mountPaths: /var/lib/postgresql/data                                    
      volumes:                                                                    
      - name: db-data                                                             
        emptyDir: {}  
